---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Card from '../components/Card.astro';
---

<Layout title="Del Bajon - Pedidos en linea">

	<Header/>

	<main>
		
    <!-- CAROUSEL -->
		<div class="carousel-container">

			<div class="hero-carousel">

        <div class="hero-carousel-wrapp">
          <div class="hero-carousel__img2">
            <h1>Del Bajón</h1>
            <p>¡Sabores de otro planeta!</p>
          </div>
        </div>

				<div class="hero-carousel-wrapp">
          <img class="hero-carousel__img" src="/images/hamburguesa.jpg" alt="Del Bajon">
        </div>

			</div>

		</div>

    <!-- MENU SECTION -->
    <section class="menu-container">

        <div id="productos">
          <!-- Lista de productos -->
          <div class="producto" data-id="1" data-nombre="Burguer simple" data-precio="3500">
              <div class="producto-img">
                <img class="producto-img__img"src="/images/hamburguesa.jpg" alt="Hamburguesa simple del bajon">
                <span class="producto-desc__span">$3.500</span>
              </div>
              <div class="producto-desc">
                <h3 class="producto-desc__h3">Burguer simple</h3>
                <p class="producto-desc__p">1 Medallón + queso o cheddar + papas</p>
              </div>
              <button class="agregar agregarBtn">Agregar</button>
          </div>

          <div class="producto" data-id="2" data-nombre="Burguer completa" data-precio="4500">
            <div class="producto-img">
              <img class="producto-img__img"src="/images/hamburguesa.jpg" alt="Hamburguesa simple del bajon">
              <span class="producto-desc__span">$4.500</span>
            </div>
            <div class="producto-desc">
              <h3 class="producto-desc__h3">Burguer completa</h3>
              <p class="producto-desc__p">1 Medallón + queso o cheddar + papas</p>
            </div>
            <button class="agregar agregarBtn">Agregar</button>
          </div>

          <div class="producto" data-id="3" data-nombre="Burguer super completa" data-precio="4500">
            <div class="producto-img">
              <img class="producto-img__img"src="/images/hamburguesa.jpg" alt="Hamburguesa simple del bajon">
              <span class="producto-desc__span">$5.000</span>
            </div>
            <div class="producto-desc">
              <h3 class="producto-desc__h3">Burguer super completa</h3>
              <p class="producto-desc__p">1 Medallón + queso o cheddar + papas</p>
            </div>
            <button class="agregar agregarBtn">Agregar</button>
          </div>

          <div class="producto" data-id="2" data-nombre="Burguer completa" data-precio="4500">
            <div class="producto-img">
              <img class="producto-img__img"src="/images/hamburguesa.jpg" alt="Hamburguesa simple del bajon">
              <span class="producto-desc__span">$3.500</span>
            </div>
            <div class="producto-desc">
              <h3 class="producto-desc__h3">Burguer completa</h3>
              <p class="producto-desc__p">1 Medallón + queso o cheddar + papas</p>
            </div>
            <button class="agregar agregarBtn">Agregar</button>
          </div>

      </div>

    </section>

	</main>
	

  <script>
    document.addEventListener('DOMContentLoaded', function() {
            // Obtener elementos relevantes
            const listaCarrito = document.getElementById('lista-carrito');
            const totalCarrito = document.getElementById('total');

            // Función para agregar un producto al carrito
            function agregarProducto(event) {
                const boton = event.target;
                const producto = boton.parentElement;
                const nombre = producto.getAttribute('data-nombre');
                const precio = parseInt(producto.getAttribute('data-precio'));

                // Crear elemento de lista para el carrito
                const itemCarrito = document.createElement('li');
                itemCarrito.textContent = `${nombre} - $${precio}`;

                // Agregar elemento a la lista del carrito
                listaCarrito.appendChild(itemCarrito);

                // Actualizar total del carrito
                let total = parseInt(totalCarrito.textContent);
                // Asegurar que total sea un número válido
                total = isNaN(total) ? 0 : total;
                // Sumar el precio del producto al total
                total += precio;
                // Actualizar el contenido de totalCarrito.textContent con el total calculado
                totalCarrito.textContent = total.toString();
            }

            // Agregar eventos de clic a los botones "Agregar al Carrito"
            const botonesAgregar = document.querySelectorAll('.agregar');
            botonesAgregar.forEach(boton => {
                boton.addEventListener('click', agregarProducto);
            });
        });
  </script>

	<script>
		$('.hero-carousel').slick({
  dots: true,
  infinite: false,
  speed: 300,
  slidesToShow: 4,
  slidesToScroll: 4,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 481,
      settings: {
        dots: false,
        arrows: false,
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
	</script>
</Layout>

<style>
	main {
		margin: 0 auto 100px;
		width: 100%;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.carousel-container{
		width: 100%;
		height: 200px;
    max-height: 200px;
		border-radius: 10px;
		margin: 10px auto;
    border-radius: 10px;
	}
  .hero-carousel-wrapp{
    width: 100%;
    max-height: 200px;
    border-radius: 10px;
    padding: 0 10px;
  }
  .hero-carousel__img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  .hero-carousel__img2{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.8)), url("/images/hamburguesa.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
  }

  /* MENU */
  .menu-container{
    display: flex;
    width: 100%;
    height: auto;
    padding: 0 10px
  }
  #productos{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
  .producto{
    width: 47%;
    height: 200px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .producto-img{
    width: 100%;
    height: 50%;
    position: relative;
    z-index: 50;
  }
  .producto-desc__span{
    font-size: .8rem;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    color: orange;
    padding: 5px 8px;
  }
  .producto-img__img{
    width: 100%;
    height: 100%;
  }
  .producto-desc{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    color: black;
  }
  .producto-desc__h3{
    font-size: .8rem;
    line-height: normal;
  }
  .producto-desc__p{
    font-size: .75rem;
    line-height: normal;
  }
  .agregarBtn{
    width: 80%;
    height: 30px;
    background: orange;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .agregarBtn i{
    font-size: 1rem;
  }
  .carrito-lista-off{
    display: none;
  }
</style>
