---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props;
---

<header class="header">
	<nav class="nav">
		<!-- <img class="header-logo__img"src="./images/delbajon-sinfondo.png" alt=""> -->

		<div class="nav-links-container">
			<a class="nav__a" href="#"><box-icon class="nav__a-icon" name='cart' ></a>
			<a class="nav__a" href="#"><box-icon class="nav__a-icon" name='home'></box-icon></a>
			<button class="menu" id="menuIcon" onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))" aria-label="Main Menu">
				<svg width="35" height="35" viewBox="0 0 100 100">
				  <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
				  <path class="line line2" d="M 20,50 H 80" />
				  <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
				</svg>
			</button>
		</div>

		<ul class="nav-dropdown" id="subNav">
			<li>
				123
			</li>
			<li>
				123
			</li>
			<li>
				123
			</li>
		</ul>
	</nav>

</header>



<style>

	.header{
		width: 100%;
		height: 75px;
		background: white;
		position: fixed;
		bottom: 0;
		border-radius: 20px 20px 0 0;
	}
	.nav{
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 500;
	}
		
	.nav-links-container{
		width: 100%;
		height: 80px;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
		display: flex;
		align-items: center;
		justify-content: space-around;
		position: relative;
		z-index: 300;
		bottom: 0;
		border-radius: 20px 20px 0 0;
		background: white;
	}

	.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

	.nav__a{
		color: red;
	}

	.nav__a-icon{
		color: red;
	}

	.nav-dropdown{
		width: 90%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: flex-start;
		padding: 10px 15px;
		height: 125px;
		background: blue;
		position: relative;
		bottom: 0;
		z-index: 100;
		list-style-type: none;
		transition: all .3s ease-in-out;
	}

	.subnav-off{
		bottom: 220px;
	}
</style>
